.App {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.product-img {
  max-width: 200px;
}

.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  margin-top: 12vh;
  min-height: 100vh;
  width: 100%;
}

.main-img {
  width: 100%;
  max-width: 1800px;
}
